/*  */
:root {
  --titel-text-color: #2e2f42;
  --main-text-color: #434455;
  --logo-blue-color: #4d5ae5;
  --logo-wight-color: #f4f4fd;
  --main-wight-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --nav-hover-caolor: #404bbf;
}

body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style: none;
}

/* heder */
.logo {
  color: var(--logo-blue-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.33;
}
.black-logo {
  color: var(--titel-text-color);
}
.wight-logo {
  color: var(--logo-wight-color);
}

.site-nav .link {
  color: var(--titel-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--nav-hover-caolor);
}
.site-nav .link.current {
  color: var(--nav-hover-caolor);
}

.addres a {
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
.addres a:hover,
.addres a:focus {
  color: var(--nav-hover-caolor);
}

/* hero */
.hero {
  background-color: var(--titel-text-color);
}
.hero-title {
  color: var(--main-wight-color);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.order-btn {
  color: var(--main-wight-color);
  background-color: var(--logo-blue-color);
  border-color: transparent;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--nav-hover-caolor);
}

/* sections */
.section-title {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.title {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* team */
.team {
  background-color: var(--logo-wight-color);
}

/* footer */
.footer-text {
  color: var(--footer-text-color);
}
.footer {
  background-color: var(--titel-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */

/* filter */
.filter-btn {
  color: var(--logo-blue-color);
  background-color: var(--logo-wight-color);
  border-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-wight-color);
  background-color: var(--nav-hover-caolor);
}
